.right-panel {
  width: 65%;
  padding: 3% 6%;
  padding-right: 12%;
  color: $light-black;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .navigation {
    position: absolute; 
    top: 5%;
    left: 10%;
    width: 22px;
    height: 22px;
    padding: 0;
    background: transparent;
    border: 2px solid $black;

    &::after {
      content: '';
      position: absolute;
      background: $blue;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      top: 35%;
      right: -20%;
    }

    &::before {
      content: '';
      position: absolute;
      background: $blue;
      width: 25%;
      height: 25%;
      border-radius: 50%;
      top: 35%;
      right: -50%;
    }
  }

  .signup {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;

    height: 30%;
    overflow: hidden;
    & > div {
      margin-bottom: 10%;
    }
  }
}